@model List<Hospital>

<h1>Hospitales SQL Server</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hospital in Model){
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    <a asp-controller="Hospitales"
                        asp-action="Details"
                        asp-route-id="@hospital.IdHospital"
                        class="btn btn-bd-primary">
                        Details
                    </a>
                    @Html.ActionLink("Details", "Details"
                    , "Hospitales", 
                    new { id = @hospital.IdHospital }) | 
                     @Html.ActionLink("Edit", "Update", "Hospitales"
                     , new { id = @hospital.IdHospital }) | 
                     @Html.ActionLink("Delete", "Delete", "Hospitales"
                     , new { id =  hospital.IdHospital })
                </td>
            </tr>
        }
    </tbody>
</table>